modules = ["java-graalvm22.3"]
run = "mvn compile"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "mvn compile"]

[workflows]
runButton = "Run Java"

[[workflows.workflow]]
name = "Run Java"
author = 41474416
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn clean compile"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "mvn spring-boot:run"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
